body {
	background-color: #FFF;
	background-attachment: fixed;
	background-position: left top;
	width: 100vw;
	margin: 0 auto;
	overflow-x: hidden;
	font-family: sans-serif;
	font-size: 62.5%;
	line-height: 1;
}
#main {
	width: 80%;
	margin: 5% auto 0;
	position: relative;
	max-width: 100%;
	white-space: nowrap;
	user-select: none;
}
#main ul, .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main a + ul, #main a + div {
	padding-left: 24px;
}
#main a {
	box-sizing: border-box;
	max-width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6em;
	line-height: 2;
	text-decoration: none;
	color: #555;
	padding: 0 .8em;
	border-radius: .2em;
	cursor: pointer;
	transition-property: color, background-color, box-shadow, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#main a:hover {
	color: #000;
	background-color: #E4F4FF;
	box-shadow: 0 0 7px #57B0FF;
}
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: -3px .4em 0 0;
	background-size: 100% 100%;
	vertical-align: middle;
}
#main a:after {
	/* workaround Chromium issue 142154 */
	content: '';
	display: inline-block;
	width: 2px;
	margin-left: -2px;
}
.wrap {
	transition-property: height, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
.column {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px 0 20px 0;
	min-height: 300px;
}
#main .empty {
	opacity: 0.5;
}
.menu {
	position: absolute;
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 2;
	background-color: #FAFAFA;
	border: solid 1px #999;
	border-radius: 3px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.menu a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 0 2em;
	cursor: default;
}
.menu a:hover {
	background-color: #E4F4FF;
	border: solid 1px #57B0FF;
	margin: -1px;
	position: relative;
}
.menu li:first-child a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.menu li:last-child a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.menu hr {
	margin: 0;
	border: solid #CCC;
	border-width: 1px 0 0 0;
}
.dragstart {
	opacity: 0.5;
}
.hide-focus :focus {
	outline: none;
}
#options, #options_button {
	position: absolute;
	top: 0;
	right: 0;
}
#options {
	display: none;
	font-size: 1.4em;
	color: #000;
	border: solid #999;
	border-width: 0 0 1px 1px;
	border-bottom-left-radius: 3px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
	min-width: 32em;
	min-height: 10em;
}
#options_nav {
	position: absolute;
	width: 10em;
	top: -1px;
	bottom: 0;
	background-color: #EEE;
	list-style: none;
	margin: 0;
	padding: 0;
	border-right: solid 1px #ccc;
}
#options_nav a {
	display: block;
	padding: 1em 2em;
	text-decoration: none;
	color: inherit;
	border: solid transparent;
	border-width: 1px 0;
	cursor: pointer;
}
#options_nav a:hover {
	background-color: #E4F4FF;
	outline: solid thin #57B0FF;
}
#options_nav a.current {
	color: #000;
	background-color: #FAFAFA;
	border-color: #CCC;
	margin-right: -1px;
	outline: none;
}
#options .section {
	margin-left: 10em;
	margin-top: -1px;
	padding: 1px 0;
	background-color: #FAFAFA;
	display: none;
}
#options .section.current {
	display: block;
}
#options_button {
	background: transparent no-repeat center center;
	width: 32px;
	height: 32px;
	opacity: 0.6;
	cursor: pointer;
}
#options_button:hover {
	opacity: 1;
}
#options_close_button {
	color: #000;
	text-align: center;
	text-decoration: none;
	font-size: 1.4em;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
legend {
	color: #888;
}
fieldset {
	border: none;
	margin: 1em .5em 1em 2em;
	padding: .5em 0 0;
}
label {
	display: block;
	font-size: 0.85em;
	text-align: right;
	margin: 0 0 .1em 1.4em;
	clear: left;
}
label span {
	float: left;
	text-align: left;
	line-height: 1.9;
}
input, select, textarea, .revert {
	width: 9em;
	margin: 0 0 0 .5em;
	box-sizing: border-box;
	vertical-align: middle;
}
textarea {
	width: 20em;
	height: 16em;
	font-size: 1.1em;
	font-family: monospace;
	vertical-align: top;
	float: left;
}
input.color {
	width: 6em;
	font-family: monospace;
}
input[type="checkbox"] {
	width: 1.2em;
}
input[type=color] {
	width: 3em;
	margin: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0 1px;
}
input[type="file"]::-webkit-file-upload-button {
	width: 100%;
}
.subopt {
	margin: 0 0 .8em 2.5em;
}
.subopt input {
	width: 4em;
}
.revert {
	display: inline-block;
	width: 18px;
	height: 16px;
	opacity: .5;
	background-image: -webkit-image-set(url("icons/revert.png") 1x, url("icons/revert@2x.png") 2x);
	background-size: 100%;
	cursor: pointer;
}
.revert:hover {
	opacity: 1;
}
.folder .icon {
	background-image: -webkit-image-set(url("icons/folder.png") 1x, url("icons/folder@2x.png") 2x);
}
.open .icon {
	background-image: -webkit-image-set(url("icons/folder_open.png") 1x, url("icons/folder@2x.png") 2x);
}
.empty .icon {
	display: none;
}
/* The following icons are copyright (c) 2012 The Chromium Authors.
   see LICENSE_chromium_BSD.txt */
.recent .icon {
	background-image: -webkit-image-set(url("icons/recent.png") 1x, url("icons/recent@2x.png") 2x);
}
.top .icon {
	background-image: -webkit-image-set(url("icons/top.png") 1x, url("icons/top@2x.png") 2x);
}
.apps .icon {
	background-image: -webkit-image-set(url("icons/apps.png") 1x, url("icons/apps@2x.png") 2x);
}
.closed .icon {
	background-image: -webkit-image-set(url("icons/closed.png") 1x, url("icons/closed@2x.png") 2x);
}
.window .icon {
	background-image: -webkit-image-set(url("icons/window.png") 1x, url("icons/window@2x.png") 2x);
}
.devices .icon {
	background-image: -webkit-image-set(url("icons/phone.png") 1x, url("icons/phone@2x.png") 2x);
}
.error .icon {
	background-image: -webkit-image-set(url("icons/error.png") 1x, url("icons/error@2x.png") 2x);
}
.icon:-moz-broken {
	background-image: -webkit-image-set(url("icons/page.png") 1x, url("icons/page@2x.png") 2x);
}
#options_button {
	background-image: -webkit-image-set(url("icons/options.png") 1x, url("icons/options@2x.png") 2x);
}
